/* Reset and fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #111;
  color: white;
  line-height: 1.6;
}


.banner {
  background-color: #7a3cff;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #0d0d0d;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #7a3cff;
}




.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 80px 10%;
  gap: 40px;
}

.hero-img img {
  width: 350px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.hero-text span {
  color: #999;
}

.hero-text p {
  margin-top: 20px;
  color: #ccc;
  font-size: 1rem;
  max-width: 500px;
}

  .hero-text h1 {
    font-size: 2rem;
  }

  footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  color: #444;
  font-size: 14px;
}

footer a {
  color: #0077b6;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


@media (max-width: 900px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .info p {
    margin: 0 auto;
  }

  .buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
}
